<ion-header>
  <ion-navbar color='appdark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="outerContainer">

    <div id="searchContainerOuter">
      <div id="searchInputContainer">
        <input type="text" [placeholder]="filterPlaceholderText" [ngModel]='searchText' (ngModelChange)='searchRestaurants($event)'
        />
        <button type="button" ion-button clear icon-only color="firebrick5" *ngIf='searchText.length > 1' (click)="searchText = ''">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>
      <button type="button" ion-button clear icon-only color="firebrick5" (click)='openFilterOptionsModal()'>
        <ion-icon ios="ios-funnel" md="ios-funnel" color='redbrick'></ion-icon>
      </button>
    </div>

    <!-- <div id="filterOuterContainer">

    </div> -->

    <div id="httpLoadingContainer" text-center *ngIf='httpRequestPending'>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>

    <div id="offersContainerOuter" *ngIf='offserArray.length > 0'>
      <p ion-text color='lessblack' class="catHeadingText bold">Latest Offers on Orderpoint</p>

      <div id="offersSliderContainer">
        <div  [style.backgroundImage]="'url('+ offer.imgUrl +')'" class="offersCardOuter" *ngFor='let offer of offserArray'>
          <div class="offerCardInner">
              <div class="topPartOffer"></div>
              <div class="bottomPartOffer">
                <span ion-text color='light' class="bold rem2 inline-block">{{offer.offerTitle}}</span>
                <span ion-text color='lightgrey2' class="rem1 inline-block">{{offer.offerDescription}}</span>
              </div>
          </div>          
        </div>
      </div>

    </div>

    <div id="defaultRestaurantsContainer" *ngIf='restaurantsArray.length > 0 && filteredRestauransArray.length ==0'>
      <div class="mostpopularTitleRow">
        <p ion-text color='lightgrey1' text-center class='rem1 uppercase'>Most Popular in locality</p>
        <button ion-button small clear icon-only  color='lightgrey1'>
            Sort<ion-icon name="ios-arrow-down" color='firebrick5'></ion-icon>
        </button>
      </div>
      
      <div class="restaurantContainer">
        <ion-list>
          <ion-item *ngFor='let restaurant of restaurantsArray' (click)='gotoRestaurantHome(restaurant)'>
            <ion-avatar item-start>
              <img [src]="restaurantLogoURL + restaurant.imageUrl" onError="this.src='assets/imgs/not_found.png'">
            </ion-avatar>
            <h2>{{restaurant?.MerchantName}}</h2>
            <h3>{{restaurant?.cuisinename}}</h3>
            <p>{{restaurant?.address}}</p>
          </ion-item>
        </ion-list>
      </div>

      <div id="featuredRestaurantContainerOuter">
        <p ion-text text-center class='bold rem2'>Featured Restaurants</p>
        <div id="featuredRestaurantContainerInner">
          <div class="featuredRestarurantCardOuter" *ngFor='let featured of featuredRestaurantsArray' (click)='gotoRestaurantHome(featured)'>
            <div class="featuredImgDivContainer">
              <span class="restaurantRating">4.2</span>
              <img [src]="featuredImageUrl + featured?.featureItemImageUrl" onError="this.src='assets/imgs/not_found.png'" />
            </div>
            <div class="featuredMerchantNameOuter">
              <span class="featuredMerchantName bold">{{featured.MerchantName}}</span>
            </div>
            <div class="featuredMerchantNameOuter">
              <span class="featuredCuisineName">{{featured.cuisineNames}}</span>
            </div>
            <div class="featuredMerchantNameOuter">
              <span class="visitUs" ion-text color='coolblue2'>Order Online</span>
            </div>
          </div>
        </div>
      </div>


    </div>


    <div class="restaurantContainer" *ngIf='filteredRestauransArray.length > 0'>
      <ion-list no-lines>
        <ion-item *ngFor='let restaurant of filteredRestauransArray' (click)='gotoRestaurantHome(restaurant)'>
          <ion-avatar item-start>
            <img [src]="restaurantLogoURL + restaurant.photoUrl" onError="this.src='assets/imgs/not_found.png'">
          </ion-avatar>
          <h2>{{restaurant?.merchantname}}</h2>
          <rating [(ngModel)]="restaurant.rating" max="5" readOnly="true">
          </rating>
          <p>{{restaurant?.address.address1}}</p>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>